body {
	margin-top: 0;
	padding-top: 1rem;
}

#map {
	height: 450px;
	max-height: 80vh;
	border-radius: 4px;
	border: 1px solid #22242626;
	box-shadow: 0 1px 2px 0 #22242626;
	margin-bottom: 1rem;
	path {
		&.home {
			fill: #007bff !important;
		}
		&.away {
			fill: #dc3545 !important;
		}
	}
	.leaflet-touch .leaflet-bar {
		border: 2px solid #bbb;
	}
	.leaflet-control.show-world.button {
		width: 34px;
		height: 34px;
		line-height: 30px;
		border-radius: 4px;
		border: 2px solid #bbb;
		background-color: #fff;
		cursor: pointer;
		font-family: Icons;
		text-align: center;
		font-size: 14px;
		&:hover {
			background-color: #f4f4f4;
		}
		&::before {
			content: "\f7a2";
		}
	}
}

.team-tables.ui.grid {
	table.ui {
		thead th {
			padding-top: 0.928571em !important;
			border-bottom: 2px solid #222426a6;
			background-color: #22242614;
			.mini.label {
				margin-right: .3em;
			}
		}
		td, th {
			padding-left: 0.785714em !important;
		}
		tbody tr {
			cursor: pointer;
			&.country {
				background-color: #c8cfe836;
			}
			&.city {
				background-color: #cbf2ca5c;
			}
			&:hover {
				background-color: #f4f4f4;
			}
		}
	}
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change:auto !important;
}