{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{% block title %}{% endblock %} | Football Maps</title>
		<link class="favicon" rel="icon" sizes="192x192" href="{% static 'img/favicon.svg' %}">
		<link class="favicon" rel="apple-touch-icon" href="{% static 'img/favicon.svg' %}">

		{% if not DEBUG %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
			<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
		{% else %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
			<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
		{% endif %}
	  <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}">

		{% block head %}{% endblock %}
  </head>
  <body>
  	<div class="ui container">
		  {% block content %}{% endblock %}
  	</div>

		{% if not DEBUG %}
			<script src="{% static 'js/jquery.js' %}"></script>
			<script src="{% static 'js/fomantic.js' %}"></script>
			<script src="{% static 'js/leaflet.js' %}"></script>
		{% else %}
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
			<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
		{% endif %}
		{% block javascript %}{% endblock %}
	</body>
</html>
