<div class="column">
  <div class='ui inverted loading-game dimmer'><div class='ui loader'></div></div>
  <table class="ui unstackable single line fixed width very basic home table">
    <thead>
      <tr>
        <th class="six wide"><span class="ui mini blue empty circular label"></span> {{ game.home_team }}</th>
        <th class="six wide"><i class="{{ game.home_team.city.country.slug }} flag"></i> {{ game.home_team.city }}, {{ game.home_team.city.country }}</th>
      </tr>
    </thead>
    <tbody>
    	{% for player in game.players.all %}
    		{% if player.team == game.home_team %}
      		<tr class="{% if player.pob == game.home_team.city %}city{% endif %} {% if player.pob.country == game.home_team.city.country %}country{% endif %}" data-lat="{{ player.pob.lat }}" data-lon="{{ player.pob.lon }}" data-id="{{ player.id }}">
      			<td>{{ player.name }}</td>
      			<td><i class="{{ player.pob.country.slug }} flag"></i> {{ player.pob }}, {{ player.pob.country }}</td>
      		</tr>
    		{% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="column">
  <div class='ui inverted loading-game dimmer'><div class='ui loader'></div></div>
  <table class="ui unstackable single line fixed width very basic away table">
    <thead>
      <tr>
        <th class="six wide"><span class="ui mini red empty circular label"></span> {{ game.away_team }}</th>
        <th class="six wide"><i class="{{ game.away_team.city.country.slug }} flag"></i> {{ game.away_team.city }}, {{ game.away_team.city.country }}</th>
      </tr>
    </thead>
    <tbody>
    	{% for player in game.players.all %}
    		{% if player.team == game.away_team %}
      		<tr class="{% if player.pob == game.away_team.city %}city{% endif %} {% if player.pob.country == game.away_team.city.country %}country{% endif %}" data-lat="{{ player.pob.lat }}" data-lon="{{ player.pob.lon }}" data-id="{{ player.id }}">
      			<td>{{ player.name }}</td>
      			<td><i class="{{ player.pob.country.slug }} flag"></i> {{ player.pob }}, {{ player.pob.country }}</td>
      		</tr>
    		{% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  var game = {
    "id": "{{ game.id }}",
    "date": "{{ game.date|date:'d F Y' }}",
    "home_team": "{{ game.home_team }}",
    "away_team": "{{ game.away_team }}",
    "players": {
      "home": [{% for player in game.players.all %}{% if player.team == game.home_team %}
        {
          "name": "{{ player.name }}",
          "dob": "{{ player.dob|date:'d F Y' }}",
          "city": "{{ player.pob }}",
          "country": "{{ player.pob.country }}",
          "lat": "{{ player.pob.lat }}",
          "lon": "{{ player.pob.lon }}",
          "id": "{{ player.id }}"
        },
        {% endif %}{% endfor %}
      ],
      "away": [{% for player in game.players.all %}{% if player.team == game.away_team %}
        {
          "name": "{{ player.name }}",
          "dob": "{{ player.dob|date:'d F Y' }}",
          "city": "{{ player.pob }}",
          "country": "{{ player.pob.country }}",
          "lat": "{{ player.pob.lat }}",
          "lon": "{{ player.pob.lon }}",
          "id": "{{ player.id }}"
        },
        {% endif %}{% endfor %}
      ],
    }
  }
</script>