{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="map"></div>
	<div class="ui fluid selection games search dropdown">
	  <input type="hidden" name="gane">
	  <i class="dropdown icon"></i>
	  <div class="default text">Select game</div>
	  <div class="menu">
  		{% for game in games %}
		    <div class="item" data-value="{{ game.id }}">{{ game.date|date:'d F' }}: {{ game.home_team }} vs {{ game.away_team }}</div>
  		{% endfor %}
	  </div>
	</div>
	<div class="ui doubling stackable two column grid team-tables">
	</div>

{% endblock %}

{% block javascript %}
	<script>
		// select game dropdown and start with no selection on load
		$(".ui.dropdown.games").dropdown("clear")

		$(".ui.dropdown.games").dropdown({
			fullTextSearch: "exact",
			onChange: function(value) {
				showGame(value)
			}
		})

		// disabled zoom with scroll wheel - makes it tough to scroll through page
		var map = L.map("map", {
			scrollWheelZoom: false,
		});

		L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}' + (L.Browser.retina ? '@2x.png' : '.png'), {
		  attribution:'&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attributions">CARTO</a>',
		  maxZoom: 20,
		  minZoom: 0,
		}).addTo(map);

		// show (basically) the whole world
		function showWorld() {
			map.fitBounds([
			  [68.0, -128],
			  [-41.0, 158]
			]);
		}

		showWorld();

		// set size of circle based on zoom
		map.on('zoomend', function(e) {
	    var currentZoom = map.getZoom();
	    awayTeam.eachLayer(function (marker) {
	      marker.setRadius(currentZoom);
	    });
	    awayTeam.eachLayer(function (marker) {
	      marker.setRadius(currentZoom);
	    });
		});

		// add show world button to map
		L.Control.ShowWorld = L.Control.extend({
			onAdd: function(map) {
				var button = L.DomUtil.create("div", "show-world button");

				return button;
			},

			onRemove: function(map) {
				// Nothing to do here
			},
		});

		L.control.showworld = function(opts) {
			return new L.Control.ShowWorld(opts)
		}

		L.control.showworld({ position: 'topleft' }).addTo(map);

		$(".show-world.button").click(function() {
			showWorld()
		});

		// add loader to map
		$("<div class='ui inverted loading-game dimmer'><div class='ui text loader'>Loading map</div></div>").insertAfter("#map .leaflet-control-container");

		// create layer groups that can be easily added and removed from the map
		var homeTeam = [];
		var awayTeam = [];

		// function to remove layers from map
		function clearMap() {
			map.eachLayer(function(layer){
		    map.removeLayer(homeTeam);
		    map.removeLayer(awayTeam);
			});

			homeTeam = [];
			awayTeam = [];

			playerArray = [];
		}

		// function the allow clicking on player on map
		function clickPlayerMap(e) {
			const id = e.target.id;

			$("tr[data-id=" + id + "]").transition({
				animation: "glow",
				duration: 3000,
			});
		}

		// function to show the players on map
		var playerArray = [];
		function showPlayersMap(players, side) {
			$(players).each(function() {
				var player = this;

				// show them on the map
				var circle = L.circleMarker([player.lat, player.lon],{
					radius: map.getZoom(),
					stroke: false,
					fillOpacity: 0.8,
					className: side,
				});
				circle.id = player.id;

				playerArray.push(circle)
				circle.on("click", function(e){
					clickPlayerMap(e)
				});
			})
			if (side == "home") {
				homeTeam = L.layerGroup(playerArray);
				homeTeam.addTo(map);
			} else {
				awayTeam = L.layerGroup(playerArray);
				awayTeam.addTo(map);
			}
		}

		// show the game data on the map and in the list
		function showGame(id) {
			// show loader
			$(".loading-game").addClass("active");

			// removing existing layers
			clearMap()

			// show players in list
			$.get("game/" + id + "/", function(data) {
				$(".team-tables").html(data)
			})
			.done(function() {
				// show players on map
				showPlayersMap(game.players.home, "home")
				showPlayersMap(game.players.away, "away")

				// hide loader
				$(".loading-game").removeClass("active");

				// zoom out to show the world
				showWorld()
			});
		}

		// click on row to zoom to player's place of birth
		$(document).on("click", "table.table tbody tr", function() {
			var lat = $(this).data("lat");
			var lon = $(this).data("lon");

			map.setView([lat, lon], 6)
		});
	</script>
{% endblock %}