{% if messages %}
	{% for message in messages %}
		<div>
			<strong>{{ message|safe }}</strong>
		</div>
	{% endfor %}
{% else %}
	{{ order }}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label>Upload csv player file</label>
		<input type="file" name="player">
		<button type="submit">Upload CSV file</button>
	</form>
{% endif %}

